body {
margin: 0;
font-family: Arial;
}

.container {
width: 90%;
margin: auto;
}

header {
background: #111;
padding: 15px;
}

.logo {
height: 60px;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav a {
color: white;
margin-left: 20px;
text-decoration: none;
}

.hero {
background: #333;
color: white;
padding: 100px;
text-align: center;
}

.section {
padding: 60px 0;
}

.dark {
background: #111;
color: white;
}

.grid {
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.card {
background: white;
padding: 20px;
flex: 1;
text-align: center;
border-radius: 10px;
}

.gallery {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.gallery img {
width: 30%;
border-radius: 10px;
transition: 0.3s;
}

.gallery img:hover {
transform: scale(1.05);
}

form {
display: flex;
flex-direction: column;
gap: 10px;
}

input, textarea {
padding: 10px;
}

button {
padding: 12px;
background: black;
color: white;
border: none;
}

footer {
background: #000;
color: white;
text-align: center;
padding: 20px;
}
